INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
depcomp
doc/Makefile
doc/Makefile.in
doc/man/Makefile
doc/man/Makefile.in
doc/reference/*.txt
doc/reference/*.stamp
doc/reference/.libs/
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/muffin/Makefile
doc/reference/muffin/Makefile.in
doc/reference/muffin/html/
doc/reference/muffin/muffin-docs.sgml
doc/reference/muffin/muffin.args
doc/reference/muffin/muffin.hierarchy
doc/reference/muffin/muffin.interfaces
doc/reference/muffin/muffin.prerequisites
doc/reference/muffin/muffin.signals
doc/reference/muffin/muffin.types
doc/reference/muffin/xml/
doc/reference/clutter/clutter-*.txt
!/doc/reference/clutter/clutter-sections.txt
doc/reference/clutter/html
doc/reference/clutter/tmpl
doc/reference/clutter/xml
doc/reference/clutter/clutter.args
doc/reference/clutter/clutter.hierarchy
doc/reference/clutter/clutter.interfaces
doc/reference/clutter/clutter.prerequisites
doc/reference/clutter/clutter.signals
doc/reference/clutter/clutter-docs.xml
doc/reference/clutter/*.stamp
doc/reference/clutter/*.bak
doc/reference/clutter/*.log
doc/reference/clutter/gtkdoc-check.*
/doc/reference/cogl/cogl-*.txt
!/doc/reference/cogl/cogl-sections.txt
/doc/reference/cogl/html
/doc/reference/cogl/tmpl
/doc/reference/cogl/xml
/doc/reference/cogl/cogl.args
/doc/reference/cogl/cogl.hierarchy
/doc/reference/cogl/cogl.interfaces
/doc/reference/cogl/cogl.prerequisites
/doc/reference/cogl/cogl.signals
/doc/reference/cogl/cogl-docs.xml
/doc/reference/cogl/*.stamp
/doc/reference/cogl/*.bak
gnome-doc-utils.make
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
libtool
ltmain.sh
m4/
missing
omf.make
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
po/*.gmo
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/Meta-Muffin.0.gir
src/Meta-Muffin.0.typelib
src/*/*.lo
src/*/*.o
src/compositor/.deps/
src/compositor/.dirstamp
src/compositor/.libs/
src/compositor/plugins/.deps/
src/compositor/plugins/.libs/
src/compositor/plugins/Makefile
src/compositor/plugins/Makefile.in
src/compositor/plugins/default.la
src/compositor/plugins/default_la-default.lo
src/compositor/plugins/default_la-default.o
src/core/.deps/
src/core/.dirstamp
src/core/.libs/
src/inlinepixbufs.h
src/libmuffin.la
src/libmuffin.pc
src/muffin
src/muffin-enum-types.c
src/muffin-enum-types.h
src/muffin-enum-types.lo
src/muffin-enum-types.o
src/muffin-plugins.pc
src/muffin-restart-helper
src/muffin-theme-viewer
src/muffin.desktop
src/org.cinnamon.muffin.gschema.valid
src/org.cinnamon.muffin.gschema.xml
src/stamp-muffin-enum-types.h
src/testasyncgetprop
src/testboxes
src/testgradient
src/tools/.deps/
src/tools/Makefile
src/tools/Makefile.in
src/tools/muffin-grayscale
src/tools/muffin-mag
src/tools/muffin-message
src/tools/muffin-window-demo
src/ui/.deps/
src/ui/.dirstamp
src/ui/.libs/
src/wm-tester/.deps/
src/wm-tester/Makefile
src/wm-tester/Makefile.in
src/wm-tester/focus-window
src/wm-tester/test-attached
src/wm-tester/test-gravity
src/wm-tester/test-resizing
src/wm-tester/test-size-hints
src/wm-tester/wm-tester
stamp-h1
xmldocs.make
/.vscode/
/clutter/tests/interactive/stamp*
/clutter/tests/interactive/test-actors
/clutter/tests/interactive/test-animation
/clutter/tests/interactive/test-animator
/clutter/tests/interactive/test-bind-constraint
/clutter/tests/interactive/test-binding-pool
/clutter/tests/interactive/test-cairo-clock
/clutter/tests/interactive/test-cairo-flowers
/clutter/tests/interactive/test-cogl-multitexture
/clutter/tests/interactive/test-cogl-offscreen
/clutter/tests/interactive/test-cogl-point-sprites
/clutter/tests/interactive/test-cogl-shader-arbfp
/clutter/tests/interactive/test-cogl-shader-glsl
/clutter/tests/interactive/test-cogl-tex-convert
/clutter/tests/interactive/test-cogl-tex-foreign
/clutter/tests/interactive/test-cogl-tex-polygon
/clutter/tests/interactive/test-cogl-tex-tile
/clutter/tests/interactive/test-cogl-vertex-buffer
/clutter/tests/interactive/test-content
/clutter/tests/interactive/test-devices
/clutter/tests/interactive/test-easing
/clutter/tests/interactive/test-events
/clutter/tests/interactive/test-fbo
/clutter/tests/interactive/test-grab
/clutter/tests/interactive/test-image
/clutter/tests/interactive/test-interactive
/clutter/tests/interactive/test-keyframe-transition
/clutter/tests/interactive/test-layout
/clutter/tests/interactive/test-multistage
/clutter/tests/interactive/test-paint-wrapper
/clutter/tests/interactive/test-path-constraint
/clutter/tests/interactive/test-pixmap
/clutter/tests/interactive/test-rotate-zoom
/clutter/tests/interactive/test-scale
/clutter/tests/interactive/test-script
/clutter/tests/interactive/test-scrolling
/clutter/tests/interactive/test-shader-effects
/clutter/tests/interactive/test-stage-read-pixels
/clutter/tests/interactive/test-stage-sizing
/clutter/tests/interactive/test-state
/clutter/tests/interactive/test-state-animator
/clutter/tests/interactive/test-state-script
/clutter/tests/interactive/test-swipe-action
/clutter/tests/interactive/test-table-layout
/clutter/tests/interactive/test-text
/clutter/tests/interactive/test-text-field
/clutter/tests/interactive/test-texture-async
/clutter/tests/interactive/test-texture-material
/clutter/tests/interactive/test-texture-quality
/clutter/tests/interactive/test-texture-slicing
/clutter/tests/interactive/test-touch-events
/clutter/tests/interactive/test-unit-names.h
/cogl/stamp-h2
/debian/*.log
/debian/*.debhelper
/debian/*.substvars
/debian/.debhelper/
/debian/libmuffin0/
/debian/muffin-common/
/debian/muffin-dbg/
/debian/muffin-doc/
/debian/muffin/
/debian/tmp/
/debian/autoreconf.after
/debian/autoreconf.before
/debian/debhelper-build-stamp
/debian/files
/debian/gir1.2-meta-muffin-0.0/
/doc/reference/muffin/.libs/
/doc/reference/muffin/*.stamp
/doc/reference/muffin/muffin-*.txt
/po/muffin.pot
