INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
depcomp
doc/Makefile
doc/Makefile.in
doc/man/Makefile
doc/man/Makefile.in
doc/reference/*.txt
doc/reference/*.stamp
doc/reference/.libs/
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/html/
doc/reference/muffin-docs.sgml
doc/reference/muffin.args
doc/reference/muffin.hierarchy
doc/reference/muffin.interfaces
doc/reference/muffin.prerequisites
doc/reference/muffin.signals
doc/reference/muffin.types
doc/reference/xml/
gnome-doc-utils.make
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
libtool
ltmain.sh
m4/
missing
omf.make
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
po/*.gmo
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/Meta-Muffin.0.gir
src/Meta-Muffin.0.typelib
src/*/*.lo
src/*/*.o
src/compositor/.deps/
src/compositor/.dirstamp
src/compositor/.libs/
src/compositor/plugins/.deps/
src/compositor/plugins/.libs/
src/compositor/plugins/Makefile
src/compositor/plugins/Makefile.in
src/compositor/plugins/default.la
src/compositor/plugins/default_la-default.lo
src/compositor/plugins/default_la-default.o
src/core/.deps/
src/core/.dirstamp
src/core/.libs/
src/inlinepixbufs.h
src/libmuffin.la
src/libmuffin.pc
src/muffin
src/muffin-enum-types.c
src/muffin-enum-types.h
src/muffin-enum-types.lo
src/muffin-enum-types.o
src/muffin-plugins.pc
src/muffin-theme-viewer
src/muffin.desktop
src/org.cinnamon.muffin.gschema.valid
src/org.cinnamon.muffin.gschema.xml
src/stamp-muffin-enum-types.h
src/testasyncgetprop
src/testboxes
src/testgradient
src/tools/.deps/
src/tools/Makefile
src/tools/Makefile.in
src/tools/muffin-grayscale
src/tools/muffin-mag
src/tools/muffin-message
src/tools/muffin-window-demo
src/ui/.deps/
src/ui/.dirstamp
src/ui/.libs/
src/wm-tester/.deps/
src/wm-tester/Makefile
src/wm-tester/Makefile.in
src/wm-tester/focus-window
src/wm-tester/test-attached
src/wm-tester/test-gravity
src/wm-tester/test-resizing
src/wm-tester/test-size-hints
src/wm-tester/wm-tester
stamp-h1
xmldocs.make
