#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
DH_PARALLEL_OPTION = --parallel
endif

CONFIGURE_FLAGS = --enable-startup-notification=yes 	\
                  --disable-static
		  

%:
	dh  $@ --with autoreconf $(DH_PARALLEL_OPTION)

override_dh_auto_configure:
	dh_auto_configure -- $(CONFIGURE_FLAGS)

override_dh_shlibdeps:
	dh_shlibdeps
	dh_girepository /usr/lib/muffin

override_dh_installdocs:
	dh_installdocs --link-doc=muffin-common

override_dh_install:
	dh_install -X.la

override_dh_strip:
	dh_strip --dbg-package=muffin-dbg
